*data*
*pyc*
*MacSetup*
*.log*
*settings.json*
*scratch*
*ProjectScope*
*TCGA_processing_stranded*
*PyDeseq2_DE_tutorial*
*deep_bio_resources*
*StrategyMaking*
**notes**
*ipynb*
*output*
*gz*
*.DS_Store*